DATA2901 ASSIGNMENT

In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt

from shapely.geometry import Point
import pandas as pd
from geopandas import GeoSeries, GeoDataFrame
from shapely.geometry import Point

import requests
import json

import os

In [2]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'your unikey'
    YOUR_PW     = '490033007'
    DB_LOGIN    = 'y20s1d2x01_'+'jixu4558'

    conn = ()
    db = ()

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

def pgconnect_1(credential_filepath):
    try:
        with open(credential_filepath) as f:
            db_conn_dict = json.load(f)
        conn = psycopg2.connect(**db_conn_dict)
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
        return None
    return conn

# please update the details in data2x01_db.json
credfilepath = os.path.join("data/data2x01_db.json")
# credfilepath = os.path.join(data_path, "data2001_dbadmin.json")
# credfilepath = os.path.join(data_path, "data2001_db95.json")

def pgquery( conn, sqlcmd, args=None, silent=False ):
    """ utility function to execute some SQL query statement
    can take optional arguments to fill in (dictionary)
    will print out on screen the result set of the query
    error and transaction handling built-in """
    retdf = pd.DataFrame()
    retval = False
    try:
        if args is None:
            retdf = pd.read_sql_query(sqlcmd,conn)
        else:
            retdf = pd.read_sql_query(sqlcmd,conn,params=args)
        if silent == False:
            print(retdf.shape)
            print(retdf.to_string())
        retval = True
    except Exception as e:
        if silent == False:
            print("db read error: ")
            print(e)
            
    return retval,retdf

def pgquery_1( conn, sqlcmd, args=None, msg=False, returntype='tuple'):
    """ utility function to execute some SQL query statement
        it can take optional arguments (as a dictionary) to fill in for placeholders in the SQL
        will return the complete query result as return value - or in case of error: None
        error and transaction handling built-in (by using the 'with' clauses)"""
    retval = None
    with conn:
        cursortype = None if returntype != 'dict' else psycopg2.extras.RealDictCursor
        with conn.cursor(cursor_factory=cursortype) as cur:
            try:
                if args is None:
                    cur.execute(sqlcmd)
                else:
                    cur.execute(sqlcmd, args)
                if (cur.description != None ):
                    retval = cur.fetchall() # we use fetchall() as we expect only _small_ query results
                if msg != False:
                    print("success: " + msg)
            except psycopg2.DatabaseError as e:
                if e.pgcode != None:
                    if msg: print("db read error: "+msg)
                    print(e)
            except Exception as e:
                print(e)
    return retval

In [3]:
conn_db = pgconnect()
conn = conn_db[1]
db = conn_db[0]

connected

In [88]:
hood_db = pd.read_csv("data/Neighbourhoods.csv")
SA2 = pd.read_csv("data/StatisticalAreas.csv")
health_pd = pd.read_csv("data/HealthServices.csv")
sites_pd = pd.read_csv("data/covid19_nsw_testsites_simulated_capacity.csv")
pop_pd = pd.read_csv("data/PopulationStats2016.csv")
postcode_pd = pd.read_csv("data/NSW_Postcodes.csv")

import geopandas as gpd
shapes_df = gpd.read_file("data/SA2_2016_AUST.shp")

In [89]:
shapes_df.drop(["GCC_CODE16","SA2_5DIG16","SA3_CODE16","SA3_NAME16", "SA4_NAME16", "SA4_CODE16", "GCC_NAME16", "STE_CODE16", "STE_NAME16"], axis = 1 , inplace = True)

In [90]:
shapes_df.rename(columns = {
                    'SA2_MAIN16': 'Id',
                    'SA2_NAME16': 'Name',
                }, inplace = True)

In [91]:
from geoalchemy2 import Geometry, WKTElement
from shapely.geometry.multipolygon import MultiPolygon

# Convert shapes_df to something can be automatically inserted into sql
srid = 4326
def converter(x):
    if x:
        if isinstance(x, MultiPolygon):
            return WKTElement(x.wkt, srid = srid)
        else:
            return WKTElement(MultiPolygon([x]).wkt, srid = srid)
        #return WKTElement(MultiPolygon([x]).wkt, srid = srid)
shapes_df['geom'] = shapes_df['geometry'].apply(converter)
            
shapes_df.drop(["geometry"], axis = 1 , inplace = True)

In [92]:
shapes_df

,Id,Name,AREASQKM16,geom
0,101021007,Braidwood,3418.3525,MULTIPOLYGON (((149.5842329970001 -35.44426999...
1,101021008,Karabar,6.9825,MULTIPOLYGON (((149.2189819130001 -35.36739402...
2,101021009,Queanbeyan,4.7634,MULTIPOLYGON (((149.2132479820001 -35.34324799...
3,101021010,Queanbeyan - East,13.0034,MULTIPOLYGON (((149.240332114 -35.347822616999...
4,101021011,Queanbeyan Region,3054.4099,MULTIPOLYGON (((149.235800967 -35.387375302999...
...,...,...,...,...
2305,901021002,Cocos (Keeling) Islands,13.7163,MULTIPOLYGON (((96.83046599400006 -12.17635995...
2306,901031003,Jervis Bay,67.8134,MULTIPOLYGON (((150.6956629970001 -35.18296700...
2307,901041004,Norfolk Island,38.6509,MULTIPOLYGON (((167.9947210150001 -29.04533600...
2308,997979799,Migratory - Offshore - Shipping (OT),0.0000,None
2309,999999499,No usual address (OT),0.0000,None

In [48]:
assignment_schema = """CREATE SCHEMA IF NOT EXISTS Assignment"""
conn.execute(assignment_schema)

Creating the database

In [44]:
hood_db.to_sql('neighbourhoods', conn, 'assignment', if_exists='replace')
SA2.to_sql('SA2', conn, 'assignment', if_exists='replace')
health_pd.to_sql('health_stats', conn, 'assignment', if_exists='replace')
sites_pd.to_sql('testing_sites', conn, 'assignment', if_exists='replace')
pop_pd.to_sql('population_stats', conn, 'assignment', if_exists='replace')
postcode_pd.to_sql('postcodes', conn, 'assignment', if_exists='replace')

In [93]:
conn.execute("DROP TABLE IF EXISTS Assignment.Neighbourhoods")
#neighbourhood_table = """
#                          CREATE TABLE Assignment.Neighbourhoods (
#                              area_id CHAR(9) PRIMARY KEY,
#                              area_name VARCHAR(80),
#                              land_area FLOAT,
#                              population INTEGER,
#                              number_of_dwellings INTEGER,
#                              number_of_businesses INTEGER
#                          );
#                      """

conn.execute("DROP TABLE IF EXISTS Assignment.shapes")
SA2_table = """
                CREATE TABLE Assignment.shapes (
                    Id BIGINT PIMRARY KEY,
                    Name VARCHAR(80),
                    AREASQKM16 double precision,
                    geometry geography(MULTIPOLYGON, {})
                );
            """.format(srid)


# Use 'dtype' to specify column's type
# For the geom column, we will use GeoAlchemy's type 'Geometry'
shapes_df.to_sql('shapes', conn, 'assignment', if_exists = 'append', index = False, 
                 dtype = {
                     'geom': Geometry('MULTIPOLYGON', srid = srid)
                 })

#conn.execute(neighbourhood_table)
#conn.close()

In [96]:
conn.execute("""
    SELECT *
      FROM assignment.shapes
     LIMIT 20;
""").fetchall()

[('101021007', 'Braidwood', 3418.3525, '0106000020E6100000010000000103000000010000005F36000081EB6509B2B262404026DED6DDB841C08E8C6CB9B3B2624028173A74CFB841C0CBF46CD2B4B26240B792A1E6C8B841C00 ... (445162 characters truncated) ... 262402009FF78E8B941C06124CE39B1B26240000C84CAA3B941C0D55AD1E6B8B262405F85DD086FB941C08108E9AAB2B26240007250C24CB941C081EB6509B2B262404026DED6DDB841C0'),
 ('101021008', 'Karabar', 6.9825, '0106000020E6100000010000000103000000010000002C01000008585BE601A76240303577C406AF41C028E248C8F9A6624050FCE313EBAE41C00CA427D9F8A6624090AB5EFFE7AE41C00 ... (9354 characters truncated) ... 76240FFF2D9FF55AF41C08B342E7208A76240C87011B248AF41C08498E73504A76240C046D58635AF41C036F9EED505A76240085FBD5C14AF41C008585BE601A76240303577C406AF41C0'),
 ('101041019', 'Bega - Tathra', 183.8985, '0106000020E610000009000000010300000001000000590000002C01EDEB79BF6240303ED261F75F42C0FC9C3ADD79BF6240E08D1BFDF65F42C0C7B8BDD279BF6240995FDD76F65F42C0C ... (96410 characters truncated) ... A62401049FC36365742C024839A2966BA6240192CE57A305742C0A312971667BA624098184DBF285742C02B225EFF67BA62405F3344D1205742C07C3A64BE64BA6240382BA9E01E5742C0'),
 ('101041020', 'Bega-Eden Hinterland', 4710.2068, '0106000020E61000001300000001030000000100000006000000EDB303AE2BC062406F60F06BCF9442C0ED7051862AC06240B95590CCCE9442C0175539992AC062401FC0759ACC9442C05 ... (639966 characters truncated) ... 7624028849AF6944642C0BD2382C2E7B7624080ABFF1D184642C0512438F809B86240D84C03412B4642C0971E31A025B8624080F1121D3B4642C0DB5EA0DE2BB86240E016A22CC44542C0'),
 ('101041021', 'Broulee - Tomakin', 24.2329, '0106000020E6100000020000000103000000010000007F0000009341CB1388C662406FB4B698BBEA41C0FF94E9EB87C6624070FB6FCFBAEA41C0D4A903D787C66240696E40DCB9EA41C03 ... (35076 characters truncated) ... 56240D0488E4BC7EA41C02DA30B965CC56240375C2D08C9EA41C0CDB6ED2A5DC5624001F68CD5CAEA41C031254CCA5DC56240D839DF78CCEA41C0353114B25EC56240415AA837CEEA41C0'),
 ('101041022', 'Deua - Wadbilliga', 2781.9988, '0106000020E610000001000000010300000001000000833600009992C7CEE9BC6240E7B2A24AB01842C05AEAF99DEDBC624040D4FDC9C31842C05FE28DA163BD6240085BF4FA051942C0A ... (446314 characters truncated) ... C624008FC32C2A21842C0FB356C3DEEBC624009E0AB58A71842C073E3F22CECBC62404FF2B3BCAB1842C01B7E0D14EABC624017FE4FD5AF1842C09992C7CEE9BC6240E7B2A24AB01842C0'),
 ('101041023', 'Eden', 94.8138, '0106000020E61000000A00000001030000000100000007000000EE09AFB052BD624019265707798942C03594F2DE51BD6240B14B5670788942C0E70EA28251BD624018B41ABC768942C01 ... (137524 characters truncated) ... D624028366EB0FE8542C0D9CDA4D19DBD6240D0DC5136018642C0407BC9279DBD6240503892C9FE8542C09DE56EB49CBD624038631CDFFB8542C0D7A5FF129CBD6240570FDFEFFB8542C0'),
 ('101041024', 'Eurobodalla Hinterland', 1460.0117, '0106000020E6100000080000000103000000010000002800000053D5A6DF05C96240F8325B89EBDA41C0CAE01FBE05C96240F05CA224EBDA41C06718BBA005C962406754669EEADA41C0A ... (735520 characters truncated) ... B62401875DA3E17DA41C0C30EF7ECE4BB624028122349E5D841C0100205C003BC62406070CC6619D841C0F2DB179D2ABC62406112D72C35D741C00C24E7187EBC6240D0375A824AD541C0'),
 ('101041025', 'Merimbula - Tura Beach', 97.3395, '0106000020E61000000300000001030000000100000013000000B97AE495CFBD6240B0A5D18EE27242C0C83D2E5BCFBD6240A04F7086E27242C0052D9A24CFBD624059213200E27242C00 ... (81470 characters truncated) ... D6240384B62D9E46942C0FA1611F024BD6240008278DEFF6942C091EBBEE730BD624047BA49E6BA6942C0B1A800996FBD62405874F339296A42C0AB0F47FE90BD624018B0A0A07C6942C0'),
 ('101041026', 'Moruya - Tuross Head', 165.4118, '0106000020E61000000100000001030000000100000044170000CB73D06798C16240F1A50217B9F441C06D95DDEF97C16240907CAFCBB7F441C06B9367B796C162400884AFD8B4F441C0D ... (190346 characters truncated) ... 1624079892F15C6F441C01DE9C1B49AC1624030B0161EC2F441C05871C2089AC1624098A86E59BEF441C06F585A1399C16240AF53F5F0BAF441C0CB73D06798C16240F1A50217B9F441C0'),
 ('101041027', 'Narooma - Bermagui', 252.652, '0106000020E61000003A000000010300000001000000090000006997CBED5EC26240896D1B71013642C0E1220FC85EC2624010BB40F3003642C074D89CD45EC26240E9FF2658FF3542C02 ... (457108 characters truncated) ... 1624068EE72BB5E1C42C00712A5A15CC16240C09B1B245B1C42C0E05280886AC16240B90EB3CF571B42C055118B3E6DC1624058D2761E251B42C0E170319C71C16240F8311DA2E01A42C0'),
 ('207031166', 'Burwood East', 4.263, '0106000020E6100000010000000103000000010000007F000000C87E63903A24624038A28E0339ED42C0297F58B83A24624061AECF4635ED42C0139A03883B24624098538E9E22ED42C0C ... (3818 characters truncated) ... 4624038D05F556EED42C073E766D838246240402FFE1161ED42C01F7658413924624040653CAA57ED42C01B0A65023A246240B03CDB4546ED42C0C87E63903A24624038A28E0339ED42C0'),
 ('297979799', 'Migratory - Offshore - Shipping (Vic.)', 0.0, None),
 ('299999499', 'No usual address (Vic.)', 0.0, None),
 ('101021009', 'Queanbeyan', 4.7634, '0106000020E610000001000000010300000001000000540100001C946EEDD2A662405807DA8CEFAB41C005F6EDFEEAA6624058411EEACCAB41C02D459022F9A6624078601056B8AB41C0D ... (10634 characters truncated) ... 6624010E4DE3139AC41C0F3912758A2A6624031E7960C36AC41C0F2375438A4A662402FBC13F832AC41C0E7DF2EFBA5A66240A0ED095930AC41C01C946EEDD2A662405807DA8CEFAB41C0'),
 ('101021010', 'Queanbeyan - East', 13.0034, '0106000020E6100000010000000103000000010000001E020000E039F9CCB0A762407869967385AC41C0A1DFEBFCAFA762402008377C7FAC41C07EF95A53ADA76240F8ABBB9D70AC41C0D ... (17098 characters truncated) ... 7624050EFB50F95AC41C084A212D4A9A76240105E92C893AC41C01A19A7CBA9A7624020FBAC0793AC41C0119BC6CBAAA762404177031191AC41C0E039F9CCB0A762407869967385AC41C0'),
 ('101021011', 'Queanbeyan Region', 3054.4099, '0106000020E6100000010000000103000000010000008F1C00002A3478AE8BA76240D8D4908395B141C03EFA41589BA762407879F7839EB141C0BC1686F8C2A76240203D45A1B4B141C06 ... (233706 characters truncated) ... 76240202D19F087B141C060C9E94683A7624090ECCE9690B141C05F9D212484A7624048AC7D1B91B141C0106508FD85A76240AF0A1F3A92B141C02A3478AE8BA76240D8D4908395B141C0'),
 ('103011061', 'Oberon', 2972.3813, '0106000020E610000001000000010300000001000000C0320000F83BB291B2B36240A71B3463EDD940C03099FB95B2B362407860C980ECD940C0DB52A44EB2B36240680A6878ECD940C0D ... (415498 characters truncated) ... 36240C764B26400DA40C034BE503CAEB3624078C21611FED940C00336E5DFAEB362404F07FD75FCD940C017BCABC8AFB362408836CFBDF9D940C0F83BB291B2B36240A71B3463EDD940C0'),
 ('103021062', 'Condobolin', 15858.8501, '0106000020E6100000010000000103000000010000008A4C0000D302B6AE815362400FE72F94162E40C06BE997A9955362406841AAB9C02D40C0878FB862D753624077D01483852D40C0E ... (626762 characters truncated) ... 262407874CC744D2F40C0F43637F2F5526240D03D27C7E12E40C017C1AB57445362407086C984BA2E40C024841A9A7F536240906ED4D5202E40C0D302B6AE815362400FE72F94162E40C0'),
 ('103021063', 'Cowra', 242.201, '0106000020E6100000010000000103000000010000009B030000C9E27E5A91946240E0A7624411EB40C084578C3976946240B8A44FB021EB40C0D84F344C539462405859A1FC28EB40C0D ... (29290 characters truncated) ... 46240C8CF8D164BED40C08D47D5BB9794624030AE15F3C7EC40C0A35291AF799462401027BF91B5EC40C017AAEF8A7D946240292DA92E6EEC40C0C9E27E5A91946240E0A7624411EB40C0')]

In [ ]:
#adding primary key - foreign key relations
query1 = '''ALTER TABLE assignment.neighbourhoods ADD PRIMARY KEY (area_name)'''
query2 = '''ALTER TABLE assignment.health_stats ADD PRIMARY KEY (num_beds)'''
query3 = '''ALTER TABLE assignment.testing_sites ADD PRIMARY KEY (site_id)'''
query4 = '''ALTER TABLE assignment.postcodes ADD PRIMARY KEY (postcode)'''
query5 = '''ALTER TABLE assignment.population_stats ADD PRIMARY KEY (total_persons)'''
query6 = '''ALTER TABLE assignment.SA2 ADD PRIMARY KEY ()'''
conn.execute(query1)

In [ ]:
shapes.head()
conn1 = pgconnect_1("data/data2x01_db.json")

In [ ]:
shapes.head()
shapes = shapes[shapes['geometry'] != None]
print(shapes.head())

In [ ]:

#SA2_MAIN16 	SA2_5DIG16 	SA2_NAME16 	SA3_CODE16 	SA3_NAME16 	SA4_CODE16 	SA4_NAME16 	GCC_CODE16 	GCC_NAME16 	STE_CODE16 	STE_NAME16 	AREASQKM16 	geometry

geom_schema = '''CREATE TABLE assignment.Geometries (
                     id CHAR(9),
                     name VARCHAR(80),
                     area NUMERIC,
                     geom GEOMETRY(MULTIPOLYGON,4326))
                    ''' 

insert_stmt = """INSERT INTO assignment.Geometries VALUES ( %(id)s, 
                                                            %(name)s, 
                                                            %(area)s,
                                                            ST_Multi(ST_GeomFromText(%(geom_wkt)s, 4326)) )"""

        

shapes['geom_wkt'] = shapes['geometry'].apply(lambda x: x.wkt)
for index, neighbourhood in shapes.iterrows():
    pgquery_1(conn1, insert_stmt, args=neighbourhood, msg="inserted "+str(shapes['SA2_NAME16']))
#shapes_df.to_sql('geometries', conn, 'assignment', if_exists='replace')

In [ ]:
conn1.close()

In [ ]:
test_query = 'select * from assignment.population_stats'

pgquery(conn, test_query)

Spatial join on neighbourhoods and health services:

In [ ]:
#create_geom_column_health = '''ALTER TABLE assignment.health_stats ADD COLUMN geom geometry(Point, 4326);'''
#create_geom_column_postcodes = '''ALTER TABLE assignment.postcodes ADD COLUMN geom geometry(Point, 4326);'''
#making a new column of WGS geometry objects
#populate_health_geom='''UPDATE assignment.health_stats SET geom = ST_SetSRID(ST_MakePoint(assignment.health_stats.longitude, assignment.health_stats.latitude), 4326);'''
#populate_postcode_geom='''UPDATE assignment.postcodes SET geom = ST_SetSRID(ST_MakePoint(assignment.postcodes.longitude, assignment.postcodes.latitude), 4326);'''


#pgquery(conn, create_geom_column_health)
#pgquery(conn, create_geom_column_postcodes)
#pgquery(conn, populate_health_geom)
#pgquery(conn, populate_postcode_geom)

In [ ]:
test = '''SELECT assignment.health_stats.name as "clinic name"
                    FROM assignment.health_stats'''
pgquery(conn, test)

In [ ]:
###trying to spatial join, have not been successful yet
spatial_join = '''SELECT assignment.neighbourhoods.area_name as "area name"
                    FROM assignment.neighbourhoods, assignment.postcodes
                    WHERE LOWER(assignment.neighbourhood.area_name) LIKE '%' + LOWER(postcodes.area_name) + '%'
                    '''
pgquery(conn, spatial_join)

In [ ]:
#ALWAYS RUN THIS CELL BEFORE LEAVING
conn.close()